<div class="row">

  <div class="col-sm-4">
    <h1>Create Categories</h1>
    <form action="/admin/categories/create" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter title" class="form-control">
        <br>
        <button type="submit" name="button"class="btn btn-primary">Create Category</button>
      </div>
    </form>
  </div>
  <br>
  <hr>
</div>
<div class="row">
  <br>
  <div class="col-sm-8">
    <h1>Categories</h1>
    <table class="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
      {{#each categories}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td><a  href="/admin/categories/edit/{{id}}" class="btn btn-info">EDIT</td>
            <td>
              <form action="/admin/categories/{{id}}?_method=DELETE" method="post">
                <button class="btn btn-danger">DELETE</button>
              </form>
            </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
