{{#if error}}
<div class="alert alert-danger">
    {{error}}
</div>

{{/if}}

{{#if failure_message}}
<div class="alert alert-danger">
    {{failure_message}}
</div>

{{/if}}

{{#if success_message}}
<div class="alert alert-success">
    {{success_message}}
</div>
{{/if}}
